# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# npm dependencies
frontend/node_modules/**

# Miscellaneous
backend/.settings/**
backend/.project